.alert-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFB657;
  border-top: 1px solid #ffeeba;
  padding: 0.75rem 1.25rem;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  font-size: 3em;
  border-top: 10px solid #FFB657;
  min-height: 100px;
}

.alert-banner::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    #FFB657,
    #FFB657 10px,
    #000000 10px,
    #000000 20px
  );
}

.alert-banner .alert-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.alert-banner .alert-icon {
  font-size: 1.2em;
  flex-shrink: 0;
  display: none;
}

.alert-banner .alert-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.alert-banner .alert-message.ng-enter {
  opacity: 0;
}

.alert-banner .alert-message.ng-enter-active {
  opacity: 1;
}

.alert-banner .alert-message.ng-leave {
  opacity: 1;
}

.alert-banner .alert-message.ng-leave-active {
  opacity: 0;
}

.alert-banner span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.alert-counter{
  color: #D7182A;
}